{% for entity in field.value %}
    {%- set url = ea_url()
        .setController('App\\Controller\\Admin\\DirectorsCrudController')
        .setAction('detail')
        .setEntityId(entity.id)
    -%}
    <a href="{{ url }}">
        {{ entity.name }}{% if not loop.last %}, {% endif %}
    </a>
{% else %}
    <span class="badge badge-secondary">None</span>
{% endfor %}
